@charset "UTF-8";

body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 28px;
  font-weight: 100;
} 

.box {
  padding: 25px 10px;
}

.greyback {
   /* This border prevents margin-collapsing to happen between two text elements. */
   /* Learn more here: http://eloux.com/css-prevent-margin-collapse/ */
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
}

.greyback > *:last-child {
  margin-bottom: 1em;
}

p{
  text-align: center;
}

.centered{
  text-align: center;
}

.derive-map {
  max-width: 900px;
}

.vine-container {
  margin-left: -20px;
}

.vine-container > video {
  margin-left: 20px;
  margin-bottom: 20px;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:580px; /* your iframe height */
   top:580px;  /* your iframe height */
   margin-top:-580px;  /* your iframe height */
}

.cursor{
  cursor: pointer;
}

p.emphasize{
  font-weight:500;
}

p.discreet{
  font-size: 16px;
  font-weight: 100;
  margin: 10px;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}
